{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method = 'POST' action = ''>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">Log In</legend>
               
                <div class="form-group">
                        {{ form.email.label (class = "form-control-label is-invalid") }}
                        {{ form.email(class = "form-control form-control-lg") }}
    
                    </div>
                    <div class="form-group">
                            {{ form.password.label (class = "form-control-label is-invalid") }}
                            {{ form.password(class = "form-control form-control-lg") }}
        
                </div>
                <div>
                    <small class="text-muted ml-3 ">
                        <a href="#">Forgot password</a>

                    </small>
                </div>
             
                <div class="form-group ml-3 mt-3">
                    {{ form.submit(class = "btn btn-info") }}
                </div>
            </fieldset>

        </form>

    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a class="ml-2" href="{{ url_for('register')}}">Sign Up</a> 
        </small>

    </div>
{% endblock %}
